@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

/* Typografia */

html{
	font-size: 16px;
}

body{
	background-color: #191919; 
	font-family: Lato, sans-serif;
	color: white;
	padding: 1em;
	text-align: center;
}

h1{
	font-family: Ubuntu, sans-serif;
	font-size: 3em;
	color: #ddd;
	margin-top: 0em;
}

h2{
	font-family: Lato, sans-serif;
	font-size: 1.5em;
	font-weight: 600;
}

p{
	margin-bottom: 1.7em; 
}

.genre{
	margin-top: 0.3em;
}

.description{
	color: white;
}

/* Linki */
a
{
	text-decoration: none;
	color: red;
	transition: color 300ms ease;
}

a:hover
{
	color: yellow;
}

/* Divy */

div img{
	display: block;
	width: 100%;
	max-width: 500px;
	margin: auto;
	margin-top: 1em;
	filter: grayscale(70%);
	transition: filter 250ms ease;
}

div a:hover img{
	filter: none;
}

/* Klasy divów */

.container {
	width: 100%;
	max-width: 1600px;
	display: flex;
	margin: auto;
}

.column{
	display: flex;
	margin-left: auto;
	margin-right: auto;
}

.content{
	width: 40%;
	padding: 1em;
	background-color: #272727;
	border-radius: 1em;
	margin-left: auto;
	margin-right: auto;
}

.actors{
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

.actor{
	width: 30%;
	text-align: center;
	background-color: #1d1d1d;
	border-radius: 0.4rem;
}

.actor img{
	border-radius: 0.5em;
	margin: 0;
}

/* Poziomy */

@media (orientation: landscape){
	.container{
		flex-direction: row;
		margin-top: 1.5em;
	}
	.column{
		flex-direction: row;
		width: 50%;
	}
}

/* Pionowy */

@media (orientation: portrait) and (min-width: 750px){
	body{
		font-size: 1.4em;
	}
	.container{
		flex-direction: column;
	}
	.column{
		margin-top: 0.8em;
		margin-bottom: 0.8em;
	}
	.content{
		width: 42%; 
	}
}

/* Pionowy mniejszy */

@media (orientation: portrait) and (max-width: 750px){
	body{
		font-size: 1em;
	}
	.container{
		flex-direction: column;
	}
	.column{
		flex-direction: column;
	}
	.content{
		width: 90%;
		max-width: 500px;
		align-self: center;
		margin: 0.8em;
	}
}

/* Obramowanie do testu divów */
/*div{border: 2px solid magenta;}*/